<div id="map" class="match-parent"></div>

<div id="state-legend" class="legend">
    <h4>Price in €/m²</h4>
    <div><span style="background-color: #002f14"></span>1.600</div>
    <div><span style="background-color: #003c17"></span>1.400</div>
    <div><span style="background-color: #034f28"></span>1.200</div>
    <div><span style="background-color: #076b33"></span>1.000</div>
    <div><span style="background-color: #036248"></span>800</div>
    <div><span style="background-color: #0d9777"></span>600</div>
    <div><span style="background-color: #21b7a4"></span>400</div>
    <div><span style="background-color: #099fab"></span>200</div>
    <div><span style="background-color: #e5ffff"></span>0</div>
    <div><span style="background-color: #000"></span>No data</div>
</div>
